<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>a414b71ec54c45b1a4ba35c52e01d60d</string>
	<key>WEATHER_API_KEY</key>
	<string>f200a9398ed40fba0436cdb57db43a31</string>
	<key>MIDFCSTINFO_SERVICE_KEY</key>
	<string>%2BtajPn8EjBDkSUbPdy2yWMDYMbO9CS9y8KUR6ER0PHxt9svwFObOdK5K8B2r56I0N8AheqzbCAixyIzLySIBAg%3D%3D</string>
</dict>
</plist>
